<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda</title>
    <link rel="icon" href="../Assets/IconePag.png">
    <!-- CSS -->

    <style>

    body{
        background-color:#429cf5;
    }
    .container{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    h1{
        text-align:center;
        font-size:20px;
    }
    p{
        line-height:1.6;
        text-align:center;
        font-size:20px;
    }

    </style>


</head>

<!-- HTML -->

<body>

<div class="container">   

    <h1 style="font-size:40px;">Está com problemas?</h1>

    <p>

        Entre em contato com o criador: 
        <br>
        tel:(xx)xxxxx-xxxx  
        <br>
        e-mail:fulano@gmail.com 
        
    </p>

   
</div>

</body>
</html>