<html>

<style>

body{
    background-color:#e85656;
}
h1{
    
}

</style>

<body>

<h1>Nova Casa para Alugar</h1>

<%= render 'form', casa_alugar: @casa_alugar %>

<%= link_to 'Back', casa_alugars_path %>


</body>
</html>


