<html>

<style>

body{
    background-color:#e85656;
}
h1{
    
}

</style>

<body>

<h1>Nova Casa para Comprar</h1>

<%= render 'form', casa: @casa %>

<%= link_to 'Back', casas_path %>

</body>
</html>